{% extends 'myapp/base.html' %}
{% load static %}
{% block title %} Review Form {% endblock %}

{% block content %}
<div class="header-section">
    <nav class="navigation">
        {% for item in navigation_items %}
            {% if item.example_id %}
                <a href="{% url item.url example_id=item.example_id %}">{{ item.name }}</a>
            {% else %}
                <a href="{% url item.url %}">{{ item.name }}</a>
            {% endif %}
            {% if not forloop.last %} › {% endif %}
        {% endfor %}
    </nav>
    <p class="welcome">{{ user.username }}, your peers value your suggestions!</p>
</div>

<form method="post">
    {% csrf_token %}
    <div class="main-content">
        <div class="column left">
            <div class="problem-context">
                <h2>WEID: {{ example.id }}</h2>
                <h3>Problem Context</h3>
                {{ example.project_context|linebreaks }}

                <h3>Problem Description</h3>
                {{ example.project_description|linebreaks }}

                <h3>Data</h3>
                {% for table in example.data_tables.all %}
                    <h4>{{ table.name }} Table</h4>
                    <table class="table-style">
                        <thead>
                        <tr>
                            <th>Column Name</th>
                            <th>Data Type</th>
                            <th>Data Constraints</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for column in table.columns.all %}
                            <tr>
                                <td>{{ column.name }}</td>
                                {% with column.data_type as data_type %}
                                    {% with data_type|slice:"0:data_type|find:';'" as first_part %}
                                        <td>{{ first_part }}</td>
                                    {% endwith %}
                                    {% with data_type|slice:"data_type|find:';'+1:" as second_part %}
                                        <td>{{ second_part }}</td>
                                    {% endwith %}
                                {% endwith %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>

        <div class="column right">
            <div class="tabs">
                <button type="button" class="tablink active" onclick="openTab(event, 'ReviewerSection')">Reviewer Section</button>
                <button type="button" class="tablink" onclick="openTab(event, 'RatingSection')">Rating Section</button>
            </div>
            
            <div id="ReviewerSection" class="tabcontent" style="display:block;">

                <div id="SolutionSubmission"  style="display:block;">
                    <h3>Solution Submission</h3>
                    {% for question in example.questions.all %}
                        <p>Step {{ forloop.counter }}: {{ question.text }}</p>
                        <label for="solution">Your Solution</label>
                        <br>
                        <textarea id="solution" name="solution"
                                  placeholder="Enter your proposed solutions here in the format of SQL codes." style="width: 100%;"></textarea>
                        <br>
                    {% endfor %}
                </div>
                <button type="button" class="sub-tablink" style="margin-top: 40px;" onclick="toggleAnswerCode()">Suggested Answers</button>                <div id="AnswerCode" style="display:none;">
                    <h3>Student Provided Answer Code</h3>
                    {% for response in review_step_responses %}
                        <p>Step {{ forloop.counter }}: {{ response.sql_statement }}</p>
                    {% endfor %}
                </div>
            </div>

            <div id="RatingSection" class="tabcontent" style="display:none;">
                <h3>Rate This Worked-Out Example on Following Criteria:</h3>
                <label>What do you like about this question?</label>
                <label>
                    <textarea name="problem_context" placeholder="Please help your peers with their work." style="width: 100%;"></textarea>
                </label>
                <label>Any constructive suggestions for this question?</label>
                <label>
                    <textarea name="problem_context" placeholder="Please help your peers with their work." style="width: 100%;"></textarea>
                </label>
                <label>How likely are you to recommend this question to others?</label>
                <label>
                    <textarea name="problem_context" placeholder="Please help your peers with their work." style="width: 100%;"></textarea>
                </label>
                <label>How appropriate is this question for the class?</label>
                <label>
                    <textarea name="problem_context" placeholder="Please help your peers with their work." style="width: 100%;"></textarea>
                </label>
            </div>
        </div>
    </div>

    <div class="center">
        <input type="submit" value="Cancel and Exit">
        <input type="submit" value="Save and Exit">
        <input type="submit" value="Save and Submit">
    </div>
</form>

<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
            tabcontent[i].className = tabcontent[i].className.replace(" active", "");
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        document.getElementById(tabName).className += " active";
        evt.currentTarget.className += " active";
    }

    function toggleAnswerCode() {
        var answerCodeSection = document.getElementById('AnswerCode');
        var answerCodeButton = document.querySelector("button[onclick='toggleAnswerCode()']");
        
        if (answerCodeSection.style.display === "block") {
            answerCodeSection.style.display = "none";
            answerCodeButton.className = answerCodeButton.className.replace(" active", "");
        } else {
            answerCodeSection.style.display = "block";
            answerCodeButton.className += " active";
        }
    }

</script>

{% endblock %}
